/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

/* reset
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
BASE STYLES
*/
html, body {
  height: 100%;
  font-size: 10px;
}
body {
  margin: 10;
  font-family: sans-serif;
  line-height: 1.3;
  color: white;
  background-color: black;
}
a {
    text-decoration: none;
    color: #daa520;
}
p, span{
    font-family: 'Palanquin', sans-serif;
}
/*
HEADER STYLE
*/
header {
    display: flex;
    justify-content: space-between;
    margin: .5% 0;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
header li {
    justify-content: space-around;
    flex-basis: 20%;
    text-align: center;
    font-size: 2rem;
    /* border: 2px solid lawngreen; */
}
.headerLeft {
    flex-basis: 20%;
    /* border: 2px solid white; */
}
.headerMiddle {
    flex-basis: 60%;
    /* border: 2px solid white; */
}
.headerRight{
    flex-basis: 20%;
}
/* 
HERO STYLES
*/
.hero{
    display: flex;
    height: 600px;
    background-image: 
        url("../images/darkLeafHeader.jpg");
    background-size: cover;
    border: 2px solid white;
}
.titleText{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-basis: 100%;
}
.titleText h1 {
    font-size: 11rem;
    font-family: 'Megrim', cursive;
}
.titleText h2 {
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}
/*
TOP TRI-ROW
*/
.topTriRow {
    display: flex;
    margin-top: 8%;
}
.topTriRow h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
  }
.topTriRow p {
    line-height: 2rem;
    font-size: 1.05rem;
}
.topTriRow section {
    max-width: 32.6667%;
    flex-direction: row;
    flex-wrap: wrap;
}
.topTriRow img {
    max-width: 15%;
    margin-left: 43%;;
  }
.topTriRow div {
    margin-left: 20%;
    margin-right: 10%;
    background: black;
    color: white;
    max-width: 60%;
    text-align: center;
  }
/*
BRING TO LIFE Section
*/
.bringToLife {
    margin:  10%;
    position: relative;
    height: 25%;
  }
  .mainBringToLife {
    max-width: 50%;
  }
  .imgBringToLife {
    max-width: 50%;
    margin-left: 60%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .imgBringToLife img {
    max-width: 100%;
    max-height: 100%;
  }
  .mainBringToLife h2{
      font-size: 4rem;
      font-family: 'Josefin Sans', sans-serif;
  }
  .mainBringToLife p{
      font-size: 1.5rem;
      line-height: 2em;
  }
/*
Nature Guides
*/
.meetNatureGoddesses {
    font-size: 4rem;
    margin-bottom: 3%;
    font-family: 'Megrim', cursive;
    text-align: center;
    text-transform: uppercase;
}
.natureGoddesses {
    display: flex;
  }
.natureGoddesses section {
    max-width: 32.6667%;
  }
.natureGoddesses img {
    max-width: 100%;
  }
.goddessName{
    font-size: 2.2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
.goddessTitle {
    font-size: 1.5rem;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: lowercase;
}
.natureGoddesses div {
    margin-left: 20%;
    margin-right: 10%;
    background: black;
    color: white;
    max-width: 60%;
    text-align: center;
  }
.mina {
    margin-left: 0;
    margin-right: 1%;
    justify-self: flex-start;
  }
.alissa {
    margin-left: 0;
    margin-right: 1%;
    justify-self: center;
  }
.jenny {
    justify-self: flex-end;
  }

/*
PLANT GRID
*/
.featuredPlants{
    font-size: 4rem;
    font-family: 'Megrim', cursive;
    margin-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
}
.plantbook{
    margin-top: 8%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.row3 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin: .25px;
    vertical-align: middle;
    width: 100%;
    height: 85%;
  }
  .plantbook img:hover{
    -webkit-transform:scale(1.3); /* Safari and Chrome */-moz-transform:scale(1.3); /* Firefox */-ms-transform:scale(1.3); /* IE 9 */-o-transform:scale(1.3); /* Opera */transform:scale(1.3);
    -webkit-transition: 0.5s ease;transition: 0.5s ease;
  }
  .plantCaption .plantName{
    font-size: 3.5rem;
    font-family: 'Megrim', cursive;
    text-transform: uppercase;
    text-align: center;
  }
  .plantCaption .scientificName{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
  }
  .plantCaption .soldOut{
    font-size: 2rem;
    text-align: center;
  }
  .plantCaption {
    display: none;
    position: relative;
    bottom: 0;
    width: auto;
    height: auto;
    text-align: center;
    color: #fff;
    -webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  .plantbook img:hover + .plantCaption {
    display: block;
    opacity: 1;
    background: none;
    height: auto;
    background: rgba(0, 0, 0,.45);
  }
  /* two column-layout instead of four */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }