/* reset
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
BASE STYLES
*/
html, body {
  height: 100%;
  font-size: 10px;
}
body {
  margin: 10;
  font-family: sans-serif;
  line-height: 1.3;
  color: white;
  background-color: black;
}
a {
    text-decoration: none;
    color: goldenrod;
}
/*
HEADER STYLE
*/
header {
    display: flex;
    justify-content: space-between;
    margin: .5% 0;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
header li {
    justify-content: space-around;
    flex-basis: 20%;
    text-align: center;
    font-size: 2rem;
    /* border: 2px solid lawngreen; */
}
.headerLeft {
    flex-basis: 20%;
    /* border: 2px solid white; */
}
.headerMiddle {
    flex-basis: 60%;
    /* border: 2px solid white; */
}
.headerRight{
    flex-basis: 20%;
    /* border: 2px solid white; */
}
/* 
HERO STYLES
*/
.hero{
    display: flex;
    height: 800px;
    background-image: 
        url("../images/darkLeafHeader.jpg");
    background-size: cover;
    border: 2px solid white;
}
.titleText{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-basis: 80%;
}
.titleText h1 {
    font-size: 11rem;
}
.titleText h2 {
    font-size: 4rem;
}