/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

/* reset
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
BASE STYLES
*/
html, body {
  height: 100%;
  font-size: 10px;
}
body {
  margin: 10;
  font-family: sans-serif;
  line-height: 1.3;
  color: white;
  background-color: black;
}
a {
    text-decoration: none;
    color: goldenrod;
}
/*
HEADER STYLE
*/
header {
    display: flex;
    justify-content: space-between;
    margin: .5% 0;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
header li {
    justify-content: space-around;
    flex-basis: 20%;
    text-align: center;
    font-size: 2rem;
    /* border: 2px solid lawngreen; */
}
.headerLeft {
    flex-basis: 20%;
    /* border: 2px solid white; */
}
.headerMiddle {
    flex-basis: 60%;
    /* border: 2px solid white; */
}
.headerRight{
    flex-basis: 20%;
    /* border: 2px solid white; */
}
/* 
HERO STYLES
*/
.hero{
    display: flex;
    height: 800px;
    background-image: 
        url("../images/darkLeafHeader.jpg");
    background-size: cover;
    border: 2px solid white;
}
.titleText{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex-basis: 80%;
}
.titleText h1 {
    font-size: 11rem;
}
.titleText h2 {
    font-size: 4rem;
}
/*
TOP TRI-ROW
*/
.topTriRow section {
    max-width: 32.3333%;
    float: left;
    padding: .5%;
    margin-top: 10%;
    text-align: center;
  }
.topTriRow h3 {
    text-transform: uppercase;
  }
.topTriRow img {
    max-width: 20%;
    max-width: 20%;
    margin-left: 1%;
  }
.topTriRow {
    margin-left: 10%;
    margin-right: 10%;
  }

/*
BRING TO LIFE Section
*/
.bringToLife {
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    margin:  10%;
   /*height: 100%;*/
    position: relative;
    height: 25%;
  }
  .mainBringToLife {
    max-width: 50%;
  }
  .imgBringToLife {
    max-width: 50%;
    /* margin-top: -34%; */
    margin-left: 60%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .imgBringToLife img {
    max-width: 100%;
    max-height: 100%;
  }
/*
Nature Guides
*/
.natureGuides {
    margin-left: 10%;
    margin-right: 10%;
  }
.natureGuides section {
    max-width: 32.6667%;
  }
.natureGuides img {
    max-width: 100%;
  }
.natureGuides div {
    margin-left: 20%;
    margin-right: 10%;
    background: black;
    color: white;
    max-width: 60%;
    text-align: center;
  }
.williams {
    margin-left: 0;
    margin-right: 1%;
    float: left;
  }
.lake {
    margin-left: 0;
    margin-right: 1%;
    float: left;
  }
.smith {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

/* 
Grid Section
*/
.plantbook {
    float: left;
    margin: 5% 10%;
    max-height: 100%;
    width: 100%;
  }
.plantbookColumnOne {
    width: 26.6667%;
    margin: 0;
    float: left;
  }
.columnBlockOne, .columnBlockTwo, .columnBlockThree, .columnBlockFour, .columnBlockFive, .columnBlockSix, .columnBlockSeven {
    max-height: 100%;
    max-width: 100%;
    margin: 2% 1%;
  }
#plantOne {
    max-width: 100%;
  }
#plantTwo {
   max-width: 100%;
  }
.plantbookColumnTwo {
    width: 26.6667%;
    float: left;
  }
#plantThree {
    max-width: 100%;
  }
#plantFour {
    max-width: 100%;
    margin-left: .8%;
  }
#plantFive {
    max-width: 98%;
    margin-left: .8%;
  }
.plantbookColumnThree {
    width: 26.6667%;
    height: 100%;
    float: left;
  }
.columnBlockFive, .columnBlockSix {
    max-height: 50%;
  }
#plantSix {
    max-width: 100%;
  }
#plantSeven {
    max-width: 100%;
    margin-top: 2%;
  }